body {
    background-color: #8f84bb;
    font-family: 'Arvo', serif;
    
}

.header{
  background-color: #5e5585;
  border-radius: 9px;
  text-align: center;
  font-size: x-large;
  padding: 2px;
  box-shadow: 2px 2px 7px 1px #2B273C;
  width: 100%;
  justify-content: center;
  

}


.flex{
  display: flex;
  flex-direction: column;
  flex-basis: 0px;
  gap: 2rem;
  
}

.flexsecciones{
  display: flex;
  flex-direction: column;
  min-width: 800px;
  flex-basis: 0px;

}
.flexsecciones1{
  display: flex;
  flex-direction: column;
  min-width: 800px;
}

@media  (min-width: 1000px) {
  .flex{
    flex-direction: row;    
    flex: 1 1 auto;
    gap:2rem;
    justify-content: center;
   
  }
 
}

@media (max-width: 1000px) {
  .divisorh{display: none;}
  .divisor_vertical{display:block}
  
}
  

#CV_Photo{
display:flex;
max-height: 180px;
max-width: auto;
margin: 55px;

}

.divisor{
  display: flex;
  max-width: auto;
  height: 9px;
  background-image: linear-gradient(70deg,#FF6319, #f72d8A,#bc2df9);
  box-shadow: #7c1c0b;
  margin: 10px 20px 10px 20px;
  border-radius: 3px;
  

}
.divisor2{
  display: flex;
  max-width: auto;
  height: 9px;
  background-image: linear-gradient(90deg,#FF6319, #f72d8A,#bc2df9);
  margin: 7px 20px 30px 20px;
  border-radius: 3px;
  box-shadow: #7c1c0b;
}
.divisorh{
  max-width: auto;
  height: 9px;
  background-image: linear-gradient(90deg,#FF6319, #f72d8A,#bc2df9);
  margin: 7px 20px 30px 20px;
  border-radius: 3px;
  box-shadow: #7c1c0b;
}
.divisor_vertical{
  display: flex;
  max-height: auto; 
  width: 9px;
  background-image: linear-gradient(180deg,#FF6319, #f72d8A,#bc2df9);
  margin-left: 7px;
  margin-right: 7px;
  border-radius: 3px;
  box-shadow: #7c1c0b;
}
.titulo{
  width: auto;
  height: fit-content;
  padding: 2px 5px 2px ;
  background-image:linear-gradient(70deg,#5e5585,#8f84bb) ;
  font-size: larger;
  border-radius: 15px;  
  }

.h2{
    text-align: left;
    margin-left: 10px;
    padding-left: 10px;
    background-image:linear-gradient(70deg,#5e5585,#8f84bb) ;
    text-shadow: #fff;
  }

.h2data{
    text-align: left;
    font-style: italic;
    margin-left: 10px;
    padding-left: 10px;
    background-image:linear-gradient(70deg,#5e5585,#8f84bb) ;
    border-radius: 3px;
    padding: 3px 1px 1px 3px;

  }

.databox{
    background-image:linear-gradient(70deg,#aca1da,#8f84bb);
    border-radius: 12px;
    margin-left: 58px;
    padding: 10px;
    
  }

.databox2{
    background-image:linear-gradient(70deg,#aca1da,#8f84bb);
    border-radius: 12px;
    margin-left: 15px;
    padding-left:10px;
    padding-top: 3px;
    padding-bottom: 20px;
   

  }

#contacto{
    width: 200px;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px ;
    border: none;
    border-radius: 7px;
    cursor: pointer;
  }
 
input[type=text]{
    width:300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type=email]{
  width:300px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=button] {
  width: 100px;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  text-align: center;
}

#msj{
  width: auto;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;}

#formulario{
  visibility: hidden;
}
